/* for comment any section just click ctrl + slash(/) */

/*element selctor
h1 {
  background-color: orange;
  color: white;
}
p {
  background-color: green;
  color: white;
} */

/*group multiple element
h1,
p {
  background-color: burlywood;
} */

/*nested selector
ul li a {
 
  color: orange;
  color: white; last one will be genrate by overide the 1st
}

div p {
  color: aqua;
} */

/*universal selector denoted by astric
* {
  background-color: burlywood;
  color: red;
} */

/*id selector <section id="sec1">
#sec1 {
  background-color: orange;
  color: white;
}
#sec2 {
  background-color: green;
  color: white;
} */

/*class selector using(.)
.btn {
  background-color: orange;
}
.first-div {
  background-color: bisque;
} */

/*attribute selector
input[type="text"] {
  background-color: greenyellow;
}
input[type="email"] {
  background-color: rgb(255, 158, 47);
}*/

/*psudo class(:)
a:hover {
  color: green;
}
a:active {
  color: red;
}
a {
  color: black;
  text-decoration: none;
}
button:disabled {
  background-color: red;
  color: black;
}
input:focus {
  background-color: aqua;
}*/

/*psudo element selector(::)
p::first-letter {
  color: red;
}
p::after {
  /*after this make sure there hava a content id
  content: "a";
  /* border: 1rem solid green;
  display: inline-block;
  height: 50rem;
}
p::before {
  content: ">";
}*/

/*child selector
ul li:first-child {
  color: orange;
}
ul li:last-child {
  color: orange;
}
ul li:nth-child(3) {
  color: orange;
}*/

/*desendent selector
div p {
  color: green;
}
#div1 p {
  color: orange;
}
/*child selector
#div1 > p {
  color: aqua;
}*/
/*adjusent selector
#div1 + p {
  color: orange;
}
/*general selector
#div1 ~ p {
  color: orange;
}*/

/*typography 1rem = 16px = 100% */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap"); */

/* p {
  /* font-size: 1.2rem;
  font-weight: bold;
  font-style: italic; */
/* font-family: "Courier New", Courier, monospace; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* color: aqua; */
/* color: rgb(124,205,0.9); 0 to 255 range */
/* color: #afc; hexadecimal color 0-9 then a,b,c..f
} */

/* h1 {
  font-family: "Roboto", sans-serif;
  /* text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  text-indent: 5rem;
  letter-spacing: 0.5rem;
  text-shadow: 0.1rem 0.2rem green;

} */

/* a {
  text-decoration: none;
} */

/* p {
  line-height: 2rem;
} */

/* box model */
/* h1 {
  /* box-sizing: border-box; padding and border they use extra space*/
/* background-color: brown;
  width: 400px;
  padding: 0 50px;
  margin: 10px;
  border: 10px solid aqua; */

/* padding: 10px 5x; (top bottom) (left right) */
/* padding: 0 200px; */
/* border: 10px solid orange;
  margin: 10px; */
/* // 400px + 5px + 5px + 10px + 10px + 10px + 10px 
  = 450px of the current with the box */
/* padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h2 {
  background-color: orange;
}*/

/* work with emoji and icon */
/* .icon {
  font-size: 2rem;
  color: red;
}

span {
  color: red;
  font-size: 2rem;
} */

/* h1,
h2 {
  background-color: aqua;
  display: inline; /*using this we can act blockline elements as a inline element
}*/

/* biggener mistake here */
/* a {
  background-color: lightgreen;
  padding: 10px;
  border: 2px solid blueviolet;
  margin: 10px;
  display: inline-block;
} */

/* #para1 {
  background-color: aqua;
  /* width: 500px;
  max-width: 500px; */
/* height: 10vh; vertical height for customize
}
#para2 {
  background-color: rgb(255, 119, 0);
  /* width: 500px; */
/* max-width: 500px; for compatible with screen
  height: 85vh;
} */

/* img {
  opacity: 0.5;
}

img:hover{
  opacity: 1;
} */

/* universal selector */
* {
  box-sizing: border-box;
}
/* opecity and overflow */
/* div {
  width: 400px;
  height: 100px;
  background-color: aqua;
  overflow: scroll;
} */

/* body {
  background-color: aqua;
} */

/* header {
  height: 100vh;
  /* background-image: url(./img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background: url(./img1.png) no-repeat center; shorter form
} */
